// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.field{
  display:block;
}

label{
  display:block;
}

.title{
  display:flex;
}

.body{
  display:flex;
}

p{
  margin:0;
}

#error{
  width: 450px;
    border: 2px solid red;
    padding: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

.errormessage{
  color:white;
  background-color:red;
}